body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}
.additviecipher {
  margin-bottom: 40px;
}

.container {
  margin-top: 50px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  border: 2px solid #007bff;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

th {
  background-color: #007bff;
  color: white;
}

th:first-child,
td:first-child {
  border-left: 0;
}

th:last-child,
td:last-child {
  border-right: 0;
}

tr:last-child td {
  border-bottom: 0;
}

.alphabet-item {
  display: block;
  font-weight: bold;
}

.index-item {
  font-weight: normal;
}

.cipher-section {
  margin-top: 30px;
}

.cipher-rules {
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
}

.steps-list {
  list-style-type: decimal;
  padding-left: 20px;
}

.step-item {
  margin-bottom: 5px;
}

.steps-table {
  margin-top: 20px;
}

.ciphertitile {
  font-weight: bold;
  color: #007bff;
}

@media (max-width: 576px) {
  th,
  td {
    font-size: 14px;
    padding: 5px;
  }
}

.cipher-section {
  margin-top: 30px;
}

.cipher-rules {
  font-weight: bold;
}

.decryption-table {
  margin-top: 20px;
}

.multiplicative-cipher-section {
  margin-top: 30px;
}
.superscript {
  vertical-align: super;
  font-size: smaller;
}
.multiplicative-cipher-rules {
  font-weight: bold;
}

.multiplicative-steps-table {
  margin-top: 20px;
}

.multiplicative-decryption-cipher-section {
  margin-top: 30px;
}

.multiplicative-decryption-cipher-rules {
  font-weight: bold;
}

.multiplicative-decryption-steps-table {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 2rem; /* Adjust margin-top as needed */
}

.form-group {
  margin-bottom: 1rem; /* Adjust margin-bottom as needed */
}

#multiplicativeDecryptionStepstext {
  list-style-type: none; /* Remove bullet points from the list */
  padding: 0; /* Remove default padding */
}

#multiplicativeDecryptionStepstext li {
  margin-bottom: 0.5rem; /* Adjust margin-bottom between each step */
}
